@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background-color: hsl(20, 55%, 55%, 0.8);
  }
  
  main {
    background-color: hsl(200, 35%, 65%, 0.8);
  }
  
  footer {
      background-color: hsl(300, 35%, 65%, 0.8);
  }
  
  body,html {
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  #overall-grid-container {
    min-height: 100vh;

    /* Grid Styles */
    display: grid;
    grid-template-rows: auto 1fr 10%;
  }

  #book-grid-container {
    margin: auto;

    /* Grid Styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
  }

  .book {
      height: 140px;
      width: 100px;
      margin: 20px;
      border: 2px solid red;
  }

  h1 {
    font-family: Lobster;
    font-size: 4rem;
    text-align: center;
    padding: 0.9rem;
  }

  h2 {
    font-weight: 1000;
    font-family: Roboto;
    font-size: 1.1rem;
  }

  label {
      font-family: Roboto;
      font-size: 0.9rem;
  }

  form {
      padding: 0.5rem 0.3rem 1rem 0.3rem;
  }